# requirements.txt

# Specifies an extra index URL for PyTorch, for CUDA 12.1
--extra-index-url https://download.pytorch.org/whl/cu121

# Pin PyTorch version to 2.1.2 and specify compatible torchvision and torchaudio versions
torch==2.1.2
torchvision==0.16.2
torchaudio==2.1.2

# ----------------- Other Dependencies -----------------
numpy<2 
pandas
scipy
scikit-learn
rdkit
PubChemPy
jcamp
transformers
huggingface-hub
tokenizers
safetensors
gradio
tqdm
seaborn
matplotlib
Pillow
